@page "/demo01"
@inject ContactService contactService
@rendermode InteractiveServer


<input placeholder="FirstName" @bind="firstName"/>
<br />
<br />
<input placeholder="LastName" @bind="lastName" />>
<br />
<br />
<input placeholder="Email" @bind="email" />>
<br />
<br />
<input placeholder="PhoneNumber" @bind="phoneNumber" />>
<br />
<br />
<button class="btn btn-primary" @onclick="()=>AddContact()">Add Contact</button>
<br />
<br />


@if(contactService.ContactList.Count == 0)
{
    <b>No Contacts...</b>
}
else
{
    foreach(var contacts in contactService.ContactList)
    {
        <b>@contacts.FirstName @contacts.LastName</b>
        <i>@contacts.Email</i>
        <i>@contacts.Phone</i><br />
        <hr />
    }
}

@code{
    private string firstName,lastName,email,phoneNumber;

    public void AddContact()
    {
        Console.WriteLine("AddContact method called!");
        var contact = new Contact()
        {
            FirstName = firstName,
            LastName = lastName,
            Email = email,
            Phone = phoneNumber
        };

        contactService.AddContact(contact);
    }
}