@page "/example"

<h3>Example Page</h3>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="example/test">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> test
            </NavLink>
        </div>
    </nav>
</div>
