@page "/"

@foreach(var contact in contacts)
{
    <p>
        <b>Name: </b><span>@contact.FirstName @contact.LastName</span><br />
        <b>Email: </b><i>@contact.Email</i>
        
    </p>
}

@code
{
    private List<Contact> contacts;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        contacts = new List<Contact>
        {
            new Contact
            {
                FirstName = "German",
                LastName = "Gritsenko2",
                Email = "SomeEmail2@gmail.com"
            },
            new Contact
            {
                FirstName = "German",
                LastName = "Gritsenko1",
                Email = "SomeEmail1@gmail.com"
            },
            new Contact
            {
                FirstName = "German",
                LastName = "Gritsenko3",
                Email = "SomeEmail3@gmail.com"
            }
        };
    }
}