@page "/"
@rendermode InteractiveServer

<ContactList Contacts="contacts">
    <NullContact>
        <br />
        <span>Contact is 0</span>
    </NullContact>
    <ContactLoad>
        <br />
        <span>Contact is loading...</span>
    </ContactLoad>
</ContactList>

<br />

<MyTextBox placeholder="Placeholder 01" ></MyTextBox>
