@page "/example/test";
 
<h3>hello @userName ... welcome to our <b>application</b></h3>

<button  class="btn btn-primary" @onclick="ChangeName">Change Name</button>

@if (testNum == 1)
{
    <p>Num is 1</p>
}
else 
{
    <p>num is null</p>
}


@code {
    private string userName = "German";
    private int testNum = 1;

    private string GetUserName()
    {
        return userName + " Gritsenko";
    }

    private void ChangeName()
    {
        userName = "Eugene";
    }
}
