<input type="checkbox" @bind="@DisplayEmail" /><label>Display Email</label>

@if(Contacts is null)
{
    @ContactLoad
}
else if(Contacts.Count == 0)
{
    @NullContact
}
else
{
    @foreach (var contact in Contacts)
    {
        <FirstComponent CurrentContact="contact" DisplayEmail="DisplayEmail" DeleteCurrentContact="DeleteContact"></FirstComponent>
    }
}

@code{
    [Parameter]
    public RenderFragment NullContact { get; set; }
    [Parameter]
    public RenderFragment ContactLoad { get; set; }
    [Parameter]
    public List<Contact> Contacts {get;set;}

    public bool DisplayEmail = false;

    public void DeleteContact(Contact contact)
    {
        Contacts.Remove(contact);
    }
}